<!DOCTYPE html>
<html>
<head>
  {include file="common/head"}
  <title>后台管理</title>
</head>
<body>

  {include file="common/nav"}

  <div class="am-cf admin-main">
    {include file="common/sidebar"}
    <div class="admin-content">
      <div class="admin-content-body">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong></div>
        </div>
        <div class="am-g">
          <div class="am-u-md-6">
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">信息<span class="am-icon-chevron-down am-fr" ></span></div>
              <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
                微信客户端中x5浏览器中的本地缓存比较久，若要使用微信查看修改效果请使用微信进入 dubugx5.qq.com 代理下面的最下面的位置清除文件缓存就ok了。<br>
                使用cdn的同学请注意，因为cdn缓存更新较慢，如果上传图片图片名相同的话会覆盖之前的图片，但是在cdn下面更新会很慢，建议使用新的文件名。<br>
                管理员避免使用危险字符，比如&lt;与&gt;,应改为&amp;lt;与&amp;gt; 部分情况下需要使用script,所以不做htmlspecialchars。
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="am-footer am-footer-default">
        <div class="am-footer-miscs">
          <p>由维尔创业工作室提供技术支持</p>
        </div>
      </footer>
    </div>
  </div>
  {include file="common/footer"/}
</body>
</html>
