<!DOCTYPE html>
<html>
<head>
  {include file="common/head"}
  <title>后台管理</title>
</head>
<body>

  {include file="common/nav"}


  <div class="am-cf admin-main">
    {include file="common/sidebar"}
    <div class="admin-content">
      <div class="admin-content-body">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"> <h1>功能</h1> / 修改密码 </strong></div>
        </div>
        <div class="am-g">
          <div class="am-u-sm-12">
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">修改密码</div>
              <div class="am-panel-bd">
                <form class="am-form" action="{:config('site_root')}/admin/u/changePass" method="post">
                  <input type="hidden" name="changePass" value="123456">
                  <div class="am-form-group">
                    <label class="am-form-label" for="oldPas">旧密码</label>
                    <input type="password" class="" name="oldpass" id="oldPas" placeholder="old password" autocomplete="off">
                  </div>
                  <div class="am-form-group">
                    <label class="am-form-label" for="newPas">新密码</label>
                    <input type="password" class="" name="newpass" id="newPas" placeholder="new password" autocomplete="off">
                  </div>
                  <div class="am-form-group">
                    <label class="am-form-label" for="conPas/">确认密码</label>
                    <input type="password" class="" name="conpass" id="conPas" placeholder="confirm password">
                  </div>
                  <div class="am-form-group">
                    <input type="submit" class="am-btn am-btn-primary" value="提交">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="am-footer am-footer-default">
        <div class="am-footer-miscs">
          <p>由维尔创业工作室提供技术支持</p>
        </div>
      </footer>
    </div>
  </div>
  {include file="common/footer"/}
</body>
</html>
