<!DOCTYPE html>
<html>
<head>
  {include file="common/head"}
  <title>后台管理</title>
</head>
<body>

  {include file="common/nav"}


  <div class="am-cf admin-main">
    {include file="common/sidebar"}
    <div class="admin-content">
      <div class="admin-content-body">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"> <h1>功能</h1> / 数据上传 </strong><small>目前数据数: {$stu_num} 条</small></div>
        </div>
        <div class="am-g">
          <div class="am-u-sm-12">
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">EXCEL 上传</div>
              <div class="am-panel-bd">
                <form method="post" action="{:config('site_root')}/admin/index/fileUpload" enctype="multipart/form-data">
                  <input id="file" type="file" name="file" accept="application/vnd.ms-excel,.xlsx">
                  <div id="file-list">&nbsp;</div>
                  <button type="submit" id="uplbtn" class="am-btn am-btn-primary am-btn-sm" disabled="disabled">上传</button>
                  <p>xls/xlsx文件，2M以内，单个文件不得超过1001行(包括表头)，可多次上传，模板文件下载：<a href="{:config('site_root')}/public/template.xlsx">template.xlsx</a></p>
                </form>
                <button class="am-btn am-btn-danger am-btn-sm" onclick="del();">清空数据库</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="am-footer am-footer-default">
        <div class="am-footer-miscs">
          <p>由维尔创业工作室提供技术支持</p>
        </div>
      </footer>
    </div>
  </div>
  {include file="common/footer"/}
  <script>
    (function(){
      $('#file').on('change', function() {
        var file = $('#file')[0].files[0];
        console.dir(file);
        var fileName = '<span class="am-badge">' + file.name + '</span> ';
        $('#file-list').html(fileName);
        $('#uplbtn').attr('disabled', false);
      });
    })();
    function del(){
      $.ajax({
        url:'{:config('site_root')}/admin/u/ajax',
        method: 'post',
        dataType: 'json',
        data: {
          func: 'delDataTable'
        },
        success: function(data){
          layer.msg(data.msg);
        }
      });
    }
  </script>
</body>
</html>
