{include file="common/head"}
<title>当前投票列表</title>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default">
	<div class="am-header-left am-header-nav">
		<a href="{:config('site_root')}">
			<i class="am-header-icon am-icon-home"></i>
		</a>
	</div>
	<h1 class="am-header-title">
		<a href="javascript:;" class="">
			当前投票列表
		</a>
	</h1>
</header>
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
	<!-- vote list start -->
	<div class="am-list-news-bd">
		<ul class="am-list">
			{for start="0" end="count($vote)" comparison="<" step="1" name="i"}
			<li class="am-g am-list-item-dated">
				<a href="{:config('site_root')}/vote/{$vote[$i]['uuid']}" class="am-list-item-hd ">
					{$vote[$i]['name']}
				</a>
				<span class="am-list-date">
					{$vote[$i]['remain']}
				</span>
			</li>
			{/for}
		</ul>
	</div>
	<!-- vote list end -->
</div>
{include file="common/footer"}
</body>
</html>
