{include file="common/head" /}
<title>商院体验</title>
</head>
<body>
	<!-- 图片轮播 -->
	<div data-am-widget="slider" class="am-slider am-slider-a5" data-am-slider='{&quot;directionNav&quot;:false}' >
		<ul class="am-slides">
			<li>
				<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
			</li>
			<li>
				<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
			</li>
			<li>
				<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
			</li>
			<li>
				<img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
			</li>
		</ul>
	</div>

	<div class="item-box">
		<a class="item" href="#">
			<div class="img-box">
				<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
			</div>
			<div class="item-content">
				<h2 class="item-title">标题标题标题标题标题标题标题标题</h2>
				<p class="item-description">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img-box">
				<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
			</div>
			<div class="item-content">
				<h2 class="item-title">标题标题标题标题标题标题标题标题</h2>
				<p class="item-description">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img-box">
				<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
			</div>
			<div class="item-content">
				<h2 class="item-title">标题标题标题标题标题标题标题标题</h2>
				<p class="item-description">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img-box">
				<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
			</div>
			<div class="item-content">
				<h2 class="item-title">标题标题标题标题标题标题标题标题</h2>
				<p class="item-description">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			</div>
		</a>
		<a class="item" href="#">
			<div class="img-box">
				<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
			</div>
			<div class="item-content">
				<h2 class="item-title">标题标题标题标题标题标题标题标题</h2>
				<p class="item-description">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
			</div>
		</a>
	</div>
	{include file="common/footer" /}
</body>
</html>