{include file="common/head" /}
	<title>{$option['siteTitle']}</title>
</head>
<body>
	<!-- 图片轮播 -->
	<div id="dm-container">
		<div data-am-widget="slider" class="am-slider am-slider-a5" data-am-slider='{&quot;directionNav&quot;:false}' >
			<ul class="am-slides carousel">
				{for start="0" end="count($carImg)"comparison="<" step="1" name="i"}
				<li>
					<img src="{$carImg[$i]}">
				</li>
				{/for}
			</ul>
		</div>

		<div class="id-box">
			<div class="am-g">
				{for start="0" end="9" comparison="<" step="1" name="i"}
				<div class="am-u-sm-4">
					<a href="{$conf[$i]['href']}">
						<div class="id-item">
							<i class="fa {$conf[$i]['icon']}"></i>
							<div>{$conf[$i]['title']}</div>
						</div>
					</a>
				</div>
				{/for}
			</div>
		</div>
	</div>
	{include file="common/footer"/}
	<script type="text/javascript">
		$('.carousel img').height($('.carousel').width()/2 + 'px');
	</script>
</body>
</html>