{include file="common/head" /}
<link rel="stylesheet" href="{:Config('site_root')}/public/plugins/weui/weui.css">
<title>宿舍查询</title>
</head>
<body class="bd">
	<!-- header -->
	<div class="hd">
		<h1 class="page_title">宿舍查询</h1>
	</div>


	<div class="weui_cells_title">请输入学号或者姓名进行查询</div>
	<form class="weui_cells weui_cells_form" action="{:Config('site_root')}/ajax" method="post">
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label for="stu_info" class="weui_label">学生信息</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input type="text" class="weui_input" id="stu_info" placeholder="学号/姓名">
			</div>
		</div>
		<div class="weui_btn_area">
			<input type="submit" value="查询" class="weui_btn weui_btn_primary">
		</div>
	</form>

	<div id="info_box">
	</div>


	<!-- loading toast -->
	<div id="loadingToast" class="weui_loading_toast" style="display:none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<div class="weui_loading">
				<div class="weui_loading_leaf weui_loading_leaf_0"></div>
				<div class="weui_loading_leaf weui_loading_leaf_1"></div>
				<div class="weui_loading_leaf weui_loading_leaf_2"></div>
				<div class="weui_loading_leaf weui_loading_leaf_3"></div>
				<div class="weui_loading_leaf weui_loading_leaf_4"></div>
				<div class="weui_loading_leaf weui_loading_leaf_5"></div>
				<div class="weui_loading_leaf weui_loading_leaf_6"></div>
				<div class="weui_loading_leaf weui_loading_leaf_7"></div>
				<div class="weui_loading_leaf weui_loading_leaf_8"></div>
				<div class="weui_loading_leaf weui_loading_leaf_9"></div>
				<div class="weui_loading_leaf weui_loading_leaf_10"></div>
				<div class="weui_loading_leaf weui_loading_leaf_11"></div>
			</div>
			<p class="weui_toast_content">数据加载中</p>
		</div>
	</div>

{include file="common/footer" /}
<script type="text/javascript">
	$('form').submit(function(){

		/* 显示加载中按钮 */
		$('#loadingToast').show();


		$.ajax({
			url: '{:Config('site_root')}/ajax',
			type: 'post',
			data: {
				stu_info: $('#stu_info').val(),
				func: 'query_domi'
			},
			dataType: 'json',
			success: function(_data){
				if(_data.length === 1){
					var data = _data[0];
					$('#info_box').html('\
						<div class="weui_cells_title">学生宿舍信息</div>\
						<div class="weui_cells">\
							<div class="weui_cell">\
								<div class="weui_cell_hd">\
									<label for="stu_id" class="weui_label">学号</label>\
								</div>\
								<div class="weui_cell_bd weui_cell_primary">\
									<input type="text" class="weui_input" id="stu_id" value="' + data.stu_id + '" disabled="disabled">\
								</div>\
							</div>\
							\
							<div class="weui_cell">\
								<div class="weui_cell_hd">\
									<label for="stu_name" class="weui_label">姓名</label>\
								</div>\
								<div class="weui_cell_bd weui_cell_primary">\
									<input type="text" class="weui_input" id="stu_name" value="' + data.stu_name + '" disabled="disabled">\
								</div>\
							</div>\
							\
							<div class="weui_cell">\
								<div class="weui_cell_hd">\
									<label for="stu_academy" class="weui_label">学院</label>\
								</div>\
								<div class="weui_cell_bd weui_cell_primary">\
									<input type="text" class="weui_input" id="stu_academy" value="' + data.stu_academy + '" disabled="disabled">\
								</div>\
							</div>\
							\
							<div class="weui_cell">\
								<div class="weui_cell_hd">\
									<label for="stu_class" class="weui_label">班级</label>\
								</div>\
								<div class="weui_cell_bd weui_cell_primary">\
									<input type="text" class="weui_input" id="stu_class" value="' + data.stu_class + '" disabled="disabled">\
								</div>\
							</div>\
							\
							<div class="weui_cell">\
								<div class="weui_cell_hd">\
									<label for="stu_domiNum" class="weui_label">宿舍</label>\
								</div>\
								<div class="weui_cell_bd weui_cell_primary">\
									<input type="text" class="weui_input" id="stu_domiNum" value="' + data.stu_domiNum + '" disabled="disabled">\
								</div>\
							</div>\
							<div class="weui_cell">\
								<div class="weui_cell_hd">\
									<label for="stu_domiNum" class="weui_label">你的室友们</label>\
								</div>\
								<div class="weui_cell_bd weui_cell_primary">\
									<input type="text" class="weui_input" id="stu_domiNum" value="' + data.domi_mate.join(', ') + '" disabled="disabled">\
								</div>\
							</div>\
						</div>\
						');
				}else if(_data.length === 0){
					$('#info_box').html('<div class="weui_cell">好像什么都没有诶~你是不是打错了信息</div>');
				}else if(_data.length > 1){
					var outStr = '<div class="weui_cells_title">有重名哦~请从下方查看信息</div><section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion="{}">';
					for(var i=0; i<_data.length; i++){
						outStr += '\
						<dl class="am-accordion-item">\
							<dt class="am-accordion-title">\
								' + _data[i].stu_id + ', ' + _data[i].stu_class + '\
							</dt>\
							<dd class="am-accordion-bd am-collapse">\
								<div class="am-accordion-content">\
									<div class="weui_cells_title">学生宿舍信息</div>\
									<div class="weui_cells">\
										<div class="weui_cell">\
											<div class="weui_cell_hd">\
												<label for="stu_id" class="weui_label">学号</label>\
											</div>\
											<div class="weui_cell_bd weui_cell_primary">\
												<input type="text" class="weui_input" id="stu_id" value="' + _data[i].stu_id + '" disabled="disabled">\
											</div>\
										</div>\
										\
										<div class="weui_cell">\
											<div class="weui_cell_hd">\
												<label for="stu_name" class="weui_label">姓名</label>\
											</div>\
											<div class="weui_cell_bd weui_cell_primary">\
												<input type="text" class="weui_input" id="stu_name" value="' + _data[i].stu_name + '" disabled="disabled">\
											</div>\
										</div>\
										\
										<div class="weui_cell">\
											<div class="weui_cell_hd">\
												<label for="stu_academy" class="weui_label">学院</label>\
											</div>\
											<div class="weui_cell_bd weui_cell_primary">\
												<input type="text" class="weui_input" id="stu_academy" value="' + _data[i].stu_academy + '" disabled="disabled">\
											</div>\
										</div>\
										\
										<div class="weui_cell">\
											<div class="weui_cell_hd">\
												<label for="stu_class" class="weui_label">班级</label>\
											</div>\
											<div class="weui_cell_bd weui_cell_primary">\
												<input type="text" class="weui_input" id="stu_class" value="' + _data[i].stu_class + '" disabled="disabled">\
											</div>\
										</div>\
										\
										<div class="weui_cell">\
											<div class="weui_cell_hd">\
												<label for="stu_domiNum" class="weui_label">宿舍</label>\
											</div>\
											<div class="weui_cell_bd weui_cell_primary">\
												<input type="text" class="weui_input" id="stu_domiNum" value="' + _data[i].stu_domiNum + '" disabled="disabled">\
											</div>\
										</div>\
										<div class="weui_cell">\
											<div class="weui_cell_hd">\
												<label for="stu_domiNum" class="weui_label">你的室友们</label>\
											</div>\
											<div class="weui_cell_bd weui_cell_primary">\
												<input type="text" class="weui_input" id="stu_domiNum" value="' + _data[i].domi_mate.join(', ') + '" disabled="disabled">\
											</div>\
										</div>\
									</div>\
								</div>\
							</dd>\
						</dl>';
					}

					outStr += '</section>';
					$('#info_box').html(outStr);
					$.AMUI.accordion.init();

				}
				/* 关闭加载中按钮 */
				$('#loadingToast').hide();
			},
			error: function(){
				/* 关闭加载中按钮 */
				console.log('err');
			}
		});

		return false;
	});
</script>
</body>
</html>
