	<footer class="am-footer am-footer-default">
		<div class="am-footer-miscs">
			<p>由维尔创业工作室提供技术支持</p>
			<p>{$option['copyright']}</p>
		</div>
	</footer>
	<script src="{:config('site_root')}/public/plugins/jquery/2.2.3/jquery.min.js"></script>
	<script src="{:config('site_root')}/public/plugins/amazeui/assets/js/amazeui.min.js"></script>
	<script src="{:config('site_root')}/public/plugins/layer/layer.js"></script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?9675d60613eb31f7aeba9708033adc6f";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
