<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="{:Config('site_root')}/public/plugins/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="{:Config('site_root')}/public/plugins/amazeui/assets/css/amazeui.min.css">
<link rel="stylesheet" href="{:Config('site_root')}/public/css/style.css">
