{include file="common/head"/}
<title>登录</title>
</head>
<body style="background-color:#eee">
	<div class="am-g">
		<div class="am-u-sm-offset-3 am-u-sm-6">
			<div class="ad-login-box">
				<form action="(｀･ω･´)" class="am-form ">
					<input type="password" placeholder="password" id="pss">
					<input type="submit" class="am-btn am-btn-primary am-btn-block" value="登录">
				</form>
			</div>
		</div>
	</div>
	{include file="common/footer"/}
	<script src="{:Config('site_root')}/public/plugins/layer/layer.js"></script>
	<script src="{:Config('site_root')}/public/js/admin/login.js"></script>
</body>
</html>
